version: '3.2'

services:

  pgsql:
    image: postgres:9.5
    environment:
      - POSTGRES_DB=newtimes
      - POSTGRES_USER=newtimes
      - POSTGRES_PASSWORD=newtimes
    ports:
      - 54321:5432

  api:
    depends_on:
      - pgsql
    container_name: api
    expose:
      - 80
    restart: always
    volumes:
      # Re-use local composer cache via host-volume
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      # Mount source-code for development
      - ./:/app
      - ./docker/php/custom-config.ini:/usr/local/etc/php/conf.d/custom-config.ini
      - ./docker/php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
    environment:
      VIRTUAL_HOST: api.lexuryscort.com
      PHP_ENABLE_XDEBUG: 1

  backend:
    depends_on:
      - pgsql
    container_name: backend
    expose:
      - 80
    restart: always
    volumes:
      # Re-use local composer cache via host-volume
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      # Mount source-code for development
      - ./:/app
      - ./docker/php/custom-config.ini:/usr/local/etc/php/conf.d/custom-config.ini
      - ./docker/php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
    environment:
      VIRTUAL_HOST: backend.lexuryscort.com
      PHP_ENABLE_XDEBUG: 1

networks:
  default:
    external:
      name: nginx-proxy